/* value */


#servicesSection {
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.value-sec {
    padding-bottom: 5rem;
}

.value-logo {    
    width: 18rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.value {
    padding-left: 1rem;
    padding-bottom: 4rem;
}

.value h3 {
    font-size: 2rem;
    font-weight: 100;
}

.value h4 {
    font-size: 2rem;
    font-weight: 1000;
}

.value-explanation {
    text-align: justify;
    line-height: 1.6;
}

.lamp-innovation {
    width: 3rem;
    height: 3rem;
}

.agility {
    width: 3rem;
    height: 3rem;
}

.technical {
    width: 3rem;
    height: 3rem;
}

.collaborative {
    width: 3rem;
    height: 3rem;
}

.value-list {
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
}

.value-list h4 {
    padding-bottom: 1rem;
}


/* vision and mission */

.vision-section, .mission-section {
    width: 20rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 5rem;
}

.vision-section h3 {
    font-size: 2rem;
    font-weight: 100;
}

.vision-section h4 {
    font-size: 1.8rem;
    font-weight: 1000;
    padding-bottom: 4rem;
}

.vision-image, .mission-image{
    width: 100vw;
    height: 25rem;
    object-fit: cover;
    padding-bottom: 5rem;
}

.mission-section h3 {
    font-size: 2rem;
    font-weight: 100;
}

.mission-section h4 {
    font-size: 1.8rem;
    font-weight: 1000;
    padding-bottom: 4rem;
}

.vision-content, .mission-content {
    text-align: justify;
    line-height: 1.6;
}

/* our services */

.our-service-title {
    font-size: 2rem;
    padding-left: 1.8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 1rem;
    border-left: solid 2px #2DA0CA;

}

.service-title {
    display: flex;
    flex-direction: column;
}

.services-content {
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.services-content div {
    display: flex;
}

.services-content p {
    padding-top: 1.8rem;
    text-align: justify;
    line-height: 1.6;
}

.services-icon {
    width: 4rem;
    height: 3rem;
    padding-right: 1rem;
}